<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/pqrs/edit/{{pqr.id}}" method="post">
                        <div class="form-group">
                            <label for="tipo" class="form-label">Tipo</label>
                            <br>
                            <select class="form-control form-select" name="tipo" id="tipo" autofocus required>
                                <option disabled selected>{{pqr.tipo}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="Asunto">Asunto</label>
                            <textarea class="form-control" rows="5" name="asunto" id="asunto"
                                placeholder="Asunto">{{pqr.asunto}}</textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="estado">Estado</label>
                            <select class="form-control" name="estado" id="estado">
                                {{#ifequals pqr.estado 'Nuevo'}}
                                <option value="Nuevo" selected>Nuevo</option>
                                <option value="En ejecución">En ejecucion</option>
                                <option value="Cerrado" disabled>Cerrado</option>
                                {{/ifequals}}
                                {{#ifequals pqr.estado 'En ejecución'}}
                                <option value="Nuevo" disabled>Nuevo</option>
                                <option value="En ejecución" selected>En ejecucion</option>
                                <option value="Cerrado">Cerrado</option>
                                {{/ifequals}}
                                {{#ifequals pqr.estado 'Cerrado'}}
                                <option value="Nuevo" disabled>Nuevo</option>
                                <option value="En ejecución" disabled>En ejecucion</option>
                                <option value="Cerrado">Cerrado</option>
                                {{/ifequals}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="created_at">Email</label>
                            <input type="text" class="form-control" name="created_at" id="created_at"
                                value="{{pqr.email}}" disabled></input>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="created_at">Fecha de creación</label>
                            <input type="text" class="form-control" name="created_at" id="created_at"
                                value="{{timeago pqr.created_at}}" disabled></input>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="expired_at">Fecha de expiración</label>
                            <input type="text" class="form-control" name="expired_at" id="expired_at"
                                value="{{timeago pqr.expired_at}}" disabled></input>
                        </div>
                        <div class="form-group">
                            {{#ifequals pqr.estado 'Cerrado'}}
                            <button class="btn btn-success btn-block" disabled>Guardar</button>
                            {{else}}
                            <button class="btn btn-success btn-block">Guardar</button>
                            {{/ifequals}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>