<div class="container p-4">
    <div class="row">
        {{#each pqrs}}
        <div class="col-md-3" style="margin: 1rem">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a href="/pqrs/{{id}}">
                        <h3 class="card-title">
                            {{username}}
                        </h3>
                    </a>
                    <h6 class="card-subtitle mb-2 text-muted">{{tipo}}</h6>
                    <p class="card-text">{{asunto}}</p>
                    <p class="text-muted">Estado: {{estado}}</p>
                    <p class="text-muted">Creado {{timeago created_at}}</p>
                    <p class="text-muted">Expira {{timeago expired_at}}</p>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-3 mx-auto" style="width: 18rem">
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">No has creado ningún PQR todavia</p>
                    <a class="btn btn-success" href="/pqrs/add">Crear uno</a>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</div>