<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto" style="margin: 1rem">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="">
                            <h3 class="card-title">
                            {{pqr.username}} 
                            </h3>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">{{pqr.tipo}}</h6>
                        <p class="card-text">{{pqr.asunto}}</p>
                            <p class="text-muted">Estado: {{pqr.estado}}</p>
                        <p class="text-muted">Creado {{timeago pqr.created_at}}</p>
                        <p class="text-muted">Expira {{timeago pqr.expired_at}}</p>
                        {{#if user.admin}}
                            <a href="/pqrs/delete/{{pqr.id}}" class="btn btn-danger">Eliminar</a>
                            <a href="/pqrs/edit/{{pqr.id}}" class="btn btn-secondary">Editar</a>
                        {{/if}}
                    </div>
                </div>
            </div>
    </div>
</div>