<div class="container p-4">
    <div class="row">
        {{#with pqr}}
        <div class="col-md-4 mx-auto" style="margin: 1rem">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="">
                            <h3 class="card-title">
                            {{username}} 
                            </h3>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">{{tipo}}</h6>
                        <p class="card-text">{{asunto}}</p>
                            <p class="text-muted">Estado: {{estado}}</p>
                        <p class="text-muted">Creado {{timeago created_at}}</p>
                        <p class="text-muted">Expira {{timeago expired_at}}</p>
                        <a href="/pqrs/delete/{{id}}" class="btn btn-danger">Eliminar</a>
                        <a href="/pqrs/edit/{{id}}" class="btn btn-secondary">Editar</a>
                    </div>
                </div>
            </div>
            {{/with}}
    </div>
</div>